html{
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1{
    border-top: 3px solid black;
    padding-top: 15px;
    font-size: 35px;
    width: 78%;
}
#jobTitle{
    color: green;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    font-size: 18px;
    color: green;
    margin-bottom: 5px;
    margin-top: 30px;
}
p{
    margin: 3px;
}
h2{
    font-size: 20px;
    color: blue;
    margin-top: 15px;
    margin-bottom: 3px;
}

ul{
    margin-top: 6px;
    margin-bottom: 6px;
}